<h1>Add Restaurant Filters</h1>

<%= form_tag edit_filters_path do %>

    Cuisine<br>
    <% @cuisines.each do |c| %>
        <%= label :cuisine, c %>
        <%= radio_button(:filters, :cuisine, c) %><br> 
    <% end %>
    <%= label :cuisine, "All" %>
    <%= radio_button(:filters, :cuisine, "all") %><br>
    <br>
    BYOB? <br>
    <%= label :byob, "Yes" %>
    <%= radio_button(:filters, :byob, :true) %><br>

    <%= label :byob, "No" %>
    <%= radio_button(:filters, :byob, :false) %><br><br>

    Child Friendly? <br>
    <%= label :child_friendly, "Yes" %>
    <%= radio_button(:filters, :child_friendly, :true) %><br> 

    <%= label :child_friendly, "No" %>
    <%= radio_button(:filters, :child_friendly, :false) %><br><br>

    Outdoor Seating? <br>
    <%= label :outdoor_seating, "Yes" %>
    <%= radio_button(:filters, :outdoor_seating, :true) %><br> 

    <%= label :outdoor_seating, "No" %>
    <%= radio_button(:filters, :outdoor_seating, :false) %><br><br>

    Open Bar? <br>
    <%= label :open_bar, "Yes" %>
    <%= radio_button(:filters, :open_bar, :true) %><br> 

    <%= label :open_bar, "No" %>
    <%= radio_button(:filters, :open_bar, :false) %><br><br>

    <%= submit_tag "Submit" %>
<% end %>