<h1>Add Restaurant Filters</h1>

<%= form_tag edit_filters_path do %>
    
    BYOB? <br>
    <%= label :byob, "Yes" %>
    <%= radio_button(:user, :byob, :true) %><br> 

    <%= label :byob, "No" %>
    <%= radio_button(:user, :byob, :false) %><br>

    <%= label :byob, "Don't Care" %>
    <%= radio_button(:user, :byob, :nil) %><br><br>

    <%= submit_tag "Submit" %>
<% end %>