<%= form_for @dish do |d| %>
  <%= render partial: "application/errors", locals: { object: @dish } %>

  <%= d.label :photo, "Upload a Photo" %><br>
  <%= d.file_field :photo %><br><br>

  <div class="<%= ' field_with_errors' if @dish.errors[:name].any? %>">
    <%= d.label :name %>
    <br>
    <%= d.text_field :name %>
    <br>
    <br>
  </div>

  <%= d.label :description %>
  <br>
  <%= d.text_field :description %>
  <br>
  <br>

  <div class="<%= ' field_with_errors' if @dish.errors[:price].any? %>">
    <%= d.label :price %>
    <br>
    <%= d.number_field :price %>
    <br>
    <br>
  </div>

  <h3>Rate it! (1-5 scale, 5 being best):</h3>

  <div class="<%= ' field_with_errors' if @dish.errors[:taste].any? %>">
    <%= d.label :taste %>
    <br>
    <%= d.number_field :taste %>
    <br>
    <br>
  </div>

  <div class="<%= ' field_with_errors' if @dish.errors[:dining_experience].any? %>">
    <%= d.label :dining_experience %>
    <br>
    <%= d.number_field :dining_experience %>
    <br>
    <br>
  </div>

  <div class="<%= ' field_with_errors' if @dish.errors[:overall_value].any? %>">
    <%= d.label :overall_value %>
    <br>
    <%= d.number_field :overall_value %>
    <br>
    <br>
  </div>

  <% if @dish.restaurant_id.nil? %>
    <%= render partial: "restaurants/nested_form", locals: { d: d, restaurant: @restaurant } %>
  <% else %>
    <%= d.hidden_field :restaurant_id, value: @dish.restaurant_id %>
  <% end %>
  <br>
  <%= d.submit %>
  <br>
<% end %>