<%= form_for @dish do |d| %>
  <%= render partial: "application/errors", locals: { object: @dish } %>

  <div class="field<%= ' field_with_errors' if @dish.errors[:name].any? %>">
    <%= d.label :name %><%= d.text_field :name %><br>
  </div>

  <%= d.label :description %>
  <%= d.text_field :description %><br>

  <div class="field<%= ' field_with_errors' if @dish.errors[:price].any? %>">
    <%= d.label :price %><%= d.number_field :price %><br><br>
  </div>

  <h3>Rate it! (1-5 scale, 5 being best):</h3>

  <%= d.label :taste %>
  <%= d.number_field :taste %><br>

  <%= d.label :dining_experience %>
  <%= d.number_field :dining_experience %><br>
  
  <%= d.label :overall_value %>
  <%= d.number_field :overall_value %><br><br>

  <% if @dish.restaurant_id.nil? %>
    <%= render partial: "restaurants/nested_form", locals: { d: d, restaurant: @restaurant, cuisines: @cuisines } %>
  <% else %>
    <%= d.hidden_field :restaurant_id, value: @dish.restaurant_id %>
  <% end %>
  <br><%= d.submit %><br>
<% end %>