<h3>Dish count: <%= @dishes.count %></h3>

<% @dishes.each do |d| %>
        <br>
        <%= link_to "#{d.name}", restaurant_dish_path(d.restaurant_id, d) %>
        <br>
        <br>
        <br>
        <% if d.photo.attached? %>
            <%= image_tag url_for(d.photo), class: "index-view" %><br><br> 
        <% end %>
        <table>
            <tr>
                <td>Price: </td>
                <td>$<%= d.price %></td>
            </tr>
            <tr>
                <td>Taste: </td>
                <td><%= d.taste %> / 5</td>
            </tr>
            <tr>
                <td>Dining: </td>
                <td><%= d.dining_experience %> / 5</td>
            </tr>
            <tr>
                <td>Overall:</td>
                <td><%= d.overall_value %> / 5</td>
            </tr>
            <tr>
                <td>Restaurant Name: </td>
                <td><%= d.restaurant_name %></td>
            </tr>
        </table>
        <hr>
        <br>
<% end %>