<h3>Dish count: <%= @dishes.count %></h3>

<ul>
    <% @dishes.each do |d| %>
        <% if d.photo.attached? %>
            <%= image_tag url_for(d.photo), class: "index-view" %>
        <% end %>
        <li><%= link_to "#{d.name}", restaurant_dish_path(d.restaurant_id, d) %></li>
            <ul>
                <li>$<%= d.price %></li>
                <li>Taste: <%= d.taste %></li>
                <li>Dining: <%= d.dining_experience %></li>
                <li>Overall: <%= d.overall_value %></li>
                <li>Restaurant: <%= d.restaurant_name %></li>
            </ul>
            <br>
    <% end %>
</ul>