<h1>Dish Detail</h1>

<ul>
<%= label_tag :name, "Name: " %>
<%= @dish.name %><br>

<%= label_tag :description, "Description: " %>
<%= @dish.description %><br>

<%= label_tag :price, "Price: " %>
<%= @dish.price %><br>

<%= label_tag :taste, "Taste: " %>
<%= @dish.taste %><br>

<%= label_tag :overall_value, "Overall Value: " %>
<%= @dish.overall_value %><br>

<%= label_tag :dining_experience, "Dining Experience: " %>
<%= @dish.dining_experience %><br>
</ul>