<h1>Restaurant Detail</h1>
Name: <%= @restaurant.name %><br>
Address: <%= @restaurant.address %><br>
Cuisine: <%= @restaurant.cuisine %><br>
Dress Code: <%= @restaurant.dress_code %><br>
Outdoor Seating: <%= @restaurant.outdoor_seating %><br>
Child Friendly: <%= @restaurant.child_friendly %><br>
BYOB: <%= @restaurant.byob %><br>
Open Bar: <%= @restaurant.open_bar %><br>
<br>
<h3>Restaurant Dishes</h3>
<ul>
    <% @restaurant.dishes.each do |dish| %>
        <li><%= link_to "#{dish.name}", restaurant_dish_path(@restaurant, dish) %></li>
        <ul>
            <li>Created By <%= dish.user_email %></li>
        </ul>
        <br>
    <% end %>
</ul>
<br>
<% if user_created_restaurant %>
    <%= link_to "Edit Restaurant Details", edit_restaurant_path(@restaurant), html_options = { id: "button"} %>
<% end %>
<br>
<br>
<%= link_to "Add Dish to Restaurant", new_restaurant_dish_path(@restaurant), html_options = { id: "button"}  %><br>

