<h1>Restaurant Detail</h1>
<% @restaurant.attribute_names.each do |r| %>
    <%= r.humanize %>: <%= @restaurant.attributes[r.to_s] %><br>
<% end %>
<br>
<h3>Restaurant Dishes</h3>
<% @restaurant.dishes.each do |dish| %>
    <%= link_to "#{dish.name}", restaurant_dish_path(@restaurant, dish) %><br>
<% end %>
<br>
<%= link_to "Edit Restaurant Details", edit_restaurant_path(@restaurant) if @restaurant.created_by == current_user.id %><br>
<%= link_to "Delete This Restaurant", restaurant_path(@restaurant), method: :delete %><br>
<%= link_to "Add Dish to Restaurant", new_restaurant_dish_path(@restaurant) %>
