<!DOCTYPE html>
<html>
  <head>
    <title>FoodView</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "nav" %>
    <p class="notice"><%= flash[:notice] if flash[:notice] %></p>
    <p class="alert"><%= flash[:alert] if flash[:alert] %></p>
    <%= render partial: "application/errors", locals: { object: current_user } if user_signed_in? %>
    <%= yield %>
  </body>
  <footer>
    <h4><%= "Viewing as: #{current_user.email}" if user_signed_in? %></h4>
  </footer>
</html>
